/* Global styles
--------------------------------------------------------*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	}
	a{
		text-decoration: none;
	}
	html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*Main Header
------------------------------------------------------------*/
.logo{
	width:250px;
	height:30px;
	float:left;
	padding-left:100px;
}
li a{
	color:#ebf0d8;
	line-height: 2;
	padding:5px;
	border-left:1px solid #ebf0d8;
	border-right:1px solid #ebf0d8;
}
a:hover{
	background:#cdcfc8;
	color:#585955;
}
ul{
	list-style:none;
	height:40px;
}
ul li{
	margin-left:10px;
	font-size:17px;
}
.firstUl{
	display:flex;
	float:left;
}
nav{
	height: 35px;
	background: black;	
}
.tiny{
	overflow: hidden;
	width:85%;
	margin-left:100px;
	text-align: center;
	background: white;
}
.tiny > img{
	width:45%;
}
body{
	background:#fff0fd;
}

/*Main Aside
------------------------------------------------------------*/
#mainPage{
	width:85%;
	margin-left:100px;
}

/*First Aside
----------------------------------------------------------*/
.firstAside{
	overflow: hidden;
	padding-top: 15px;
	background:#ede8ed;
}
.aside-div{
	width: 25%;
	float:left;
	display: flex;
}
.aside-div p img{
	width:150px;
	height: 100px;
}
.asideText{
	padding:0px 10px;
	color:#877f87;

}
.text{
	letter-spacing:0.2em;
	font-size:13px;
	background:#ede8ed;
	border-bottom:1px solid #877f87;
	padding-left:20px;
	padding-bottom:5px;
	padding-top: 10px;
}
.asideText> a{
	color:black;
	font-weight:600;
}
.asideText> a:hover{
	color:blue;
	background: none;
}

/*Main Article
------------------------------------------------------------*/

#mainArticle{
	background: white;
	padding:30px 0;
	overflow: hidden;
}
#mainArticle header{
	float:left;
}
.imgStyle{
	width:40%;
	float:left;
	margin-left:20px;
}
#mainArticle header>h2{
	font-size:45px;
	padding:20px;
}
#mainArticle header a{
	color:black;
}
#mainArticle header a:hover{
	color:blue;
	background: none;
}
#mainArticle header>p{
	color:#595759;
	padding:10px 0px 0px 20px;
	line-height: 1.6;
}

/*Second Aside
------------------------------------------------------------*/
.secondAside{
	clear:both;
	background: white;
}
.second-div{
	outline:1px solid #595759;
	width:25%;
	float:left;
	height: 600px;
}
.img-style img{
	width:100%;
	height:250px;
	margin-bottom:15px;
}
.asideP{
	color:#595759;
	padding:20px 0px 20px 10px;
}


/*Footer
------------------------------------------------------------*/
#pageFooter{
	clear:both;
	background:#151226;
	width:85%;
	margin-left: 100px;
	padding-bottom: 200px;
}
.styleFooter{
	padding:20px 0px 20px 150px;
}
.titleFooter{
	color:white;
	border:1px solid white;
	display:flex;
	padding:10px 0px 10px 150px;
}
.titleFooterF{
	padding-right:350px;
}
.listFooter{
	display: flex;
	padding-top: 20px;
	padding-left:140px;	
}
.listF li a{
	border:none;
	background: none;
}
.listF li a:hover{
	color:#708090;
}


/*MEDIA QUERIES
------------------------------------------------------*/
@media screen and (min-width:1280px){
	ul{
		max-width:500px;
		width:70%;
	}
	.firstAside p img{	
		width:100%;
	}
	.asideText{
		font-size: 30px;
	}
	.aside-div{
	width:25%;
	float:left;
	}
	.aside-div p img{
	float:left;
	}	
	.imgStyle{
	width:60%;
	text-align: center;
	}

}


@media screen and (max-width:1280px){
	.listF{
		padding-right: 300px;
	}
	#pageFooter{
		padding-bottom: 300px;
	}
}


@media screen and (max-width: 1024px){
	nav{
		height: 60px;
	}
	.firstUl{
		padding-top: 10px;
	}
	.firstUl li{
		font-size: 20px;
	}
	#mainHeader > p{
	
	}
}
