/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	}
	a{
		text-decoration: none;
	}
	/*Main Header*/
.logo{
	width:250px;
	height:30px;
	float:left;
	padding-left:100px;
}
li a{
	color:#ebf0d8;
	line-height: 2;
	padding:5px;
	border-left:1px solid #ebf0d8;
	border-right:1px solid #ebf0d8;
}
a:hover{
	background:#cdcfc8;
	color:#585955;
}
ul{
	list-style:none;
	width:450px;
	height:40px;
}
ul li{
	margin-left:10px;
	font-size:17px;
}
.firstUl{
	display:flex;
	float:left;
}
.secondUl{
	display:flex;
	float:left;
}
nav{
	height: 35px;
	background: black;	
}
.tiny{
	margin:0 auto;
	height: 150px;
	width:85%;
	background:#ffffff;
}
.tiny > img{
	width:50%;
	padding:20px 270px;	
}
body{
	background:#fff0fd;
}

/*Main Aside*/
#mainPage{
	width:85%;
	margin-left:100px;
}
.firstAside{
	padding-top: 10px;
	display: flex;
	background:#ede8ed;
}
.firstAside img{
	width:150px;
	padding:0px 2px;
}
.text{
	letter-spacing:0.2em;
	font-size:13px;
	background:#ede8ed;
	border-bottom:1px solid #877f87;
	padding-left:20px;
	padding-bottom:5px;
	padding-top: 10px;
}
.asideText{color:#877f87;}
.asideText> a{
	color:black;
	font-weight:600;
}
.asideText> a:hover{
	color:blue;
	background: none;
}

/*Main atricle*/

#mainArticle{
	background: white;
}
#mainArticle header{
	float:left;
}
#mainArticle header>h2{
	font-size:45px;
	padding:10px;
}
#mainArticle header a{
	color:black;
}
#mainArticle header a:hover{
	color:blue;
	background: none;
}
#mainArticle header>p{
	color:#595759;
	padding:10px;
	line-height: 1.6;
}
.imgStyle>img{
	padding:30px;
	width:55%;
}
/*Second Aside*/
.secondAside{
	/*border-top:1px solid #595759;*/
	background: white;
	height: 470px;
	outline:1px solid black;
	display: flex;
	height: 280px;
}
.secondAside h3{
	padding:10px;
}
.asideP{
	color:#595759;
	padding:5px;
}
.imgStyleS img{
	width:270px;
	height: 200px;
	padding: 5px;
}
/*Footer*/
#pageFooter{
	outline:1px solid black;
	background:#151226;
	height: 350px;
	width:85%;
	margin-left:100px;
}
.styleFooter{
	outline:1px solid white;
	height: 40px;
	padding-left:50px;
	padding-top:30px;
}
.titleFooter{
	color:white;
	border-top:1px solid white;
	outline:1px solid white;
	height: 25px;
	padding:5px;
	
}
.titleFooterF{
	float:left;
	padding-left:150px;
}
.titleFooterS{

	float:left;
	padding-left:400px;
}
.listFooter{
	height:150px;
	display: flex;
	padding:30px 50px;
}
.listF{
	color:white;
}